<form>
    <h3>Some hosting suggesions</h3>
    <ul>
        <li><a href="#">AWS</a></li>
        <li><a href="#">Digital ocean</a></li>
        <li><a href="#">Google cloud hosting</a></li>
        <li><a href="#">Interserver</a></li>
        <li><a href="#">Hostigator</a></li>
        <li><a href="#">Blue Hosting</a></li>
    </ul>
</form>