<!DOCTYPE html>
<html lang="en">
<head>
</head>
<style>
    .alingcenter {
        text-align: center;
    }
    a {
    color: #000;
    text-decoration: none;
    }
    .domain{
        margin-top: 8%;
        font-size: 16px;
        color: #a1a2a1;
        border-bottom: 1px solid #eaeaea;
        padding-bottom: 5%;
        margin-bottom: 11%;
    }
    .domainheader{
        font-size: 27px;
        color: #d53a2a;
        text-align: center;
        margin-bottom: 8%;
        font-weight: bold;
        background-color: #ecf0f2;
        padding: 3%;
        border-radius: 20px;

    }
</style>
<body>
    <div class="form-body">
        <div class="row">
            <div class="col-md-7">
                <div class="img-holder">
                    <div class="bg"></div>
                    <div class="info-holder alingcenter ">
                        <img src="user/images/error.jpg" style="height: auto;width: 50%;item-align:center">
                        <p style="font-size: 30px;
                        text-align: center;
                        color: #4450e7;
                        margin-top:0%;">Sorry!!<br>You must have a domain to register with us!!</p>
                        <p>If you don't have a domain, you can't register with us at this time.
                            <br>First off all you need to purchase a domain from the Domain registers.
                            <br>
                            Choose one domain registrar from the list and purchase a domain as per you requirment.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5" 
            style="display: inline-grid;
            border: 1px solid #efefef;
            padding: 2%;
            border-radius: 3%;">
            <h2 class="domainheader">Choose from the Best Domain Registrar in 2021</h2>
                <div class="row">
                    <div class="col-md-6" style="display: inline-grid;">
                        <div class="row">
                            <a href="https://www.bluehost.in/" target="_blank">
                                <img src="user/images/bluehost.png" style="width: 70%;">
                                <p class="domain">Bluehost is one of the largest hosting companies in the world, and 
                                    they are an official WordPress hosting partner. As part of their web hosting 
                                    service, they also offer domain name registration.
                                </p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://www.networksolutions.com/" target="_blank">
                                <img src="user/images/network_solutions.jpg" style="width: 70%;">
                                <p class="domain">Network Solutions is one of the largest domain registrars on 
                                    the planet with over 7 million domains registered with them.
                                </p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://www.domain.com/" target="_blank">
                                <img src="user/images/domain_logo.svg" style="width: 70%;">
                                <p class="domain">Domain.com offers not only domain names but also web hosting, 
                                    email hosting, SSL certificates, and even web design and
                                    online marketing services.
                                </p>
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6" style="display: inline-grid;">
                        <div class="row">
                            <a href="https://in.godaddy.com/" target="_blank">
                                <img src="user/images/GoDaddy_logo.png" style="width: 70%;">
                                 <p class="domain">GoDaddy is the biggest domain registrar among all accredited companies, 
                                    currently being home to more than 60 million domain names.
                                </p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://www.hostgator.in/" target="_blank">
                                <img src="user/images/HostGator_logo.png" style="width: 70%;">
                                <p class="domain">
                                    HostGator is another popular company offering website owners a
                                     one-stop shop for domain names and shared website hosting.
                                </p>
                            </a>
                        </div>
                        <div class="row">
                            <a href="https://domains.google/" target="_blank">
                                <img src="user/images/google_domain_logo.svg" style="width: 70%;">
                                <p class="domain">Even though domain name service is part of Google’s large portfolio,
                                     it has been on the market only since 2015. Still, it’s hard to call them a 
                                     “newcomer” to the domain game.
                                </p>
                            </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>