<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
      <div class="form-body" >
        <div  class="website-logo">
            <a href="/">
               
            </a>
        </div>
        <div class="row">
            <div class="img-holder">
                <div class="bg"></div>
                <div class="info-holder">
                    <img src="user/images/graphic1.svg" alt="http://localhost:3000/user/images/logo-light.svg">
                   
                </div>
            </div>
            <div class="form-holder">
                <div class="form-content">
                    <div class="form-items">
                        <h3>Be lucky today.</h3>
                        <h5>All winners are notified through Email and Mobile numbers</h5>
                        <div class="page-links">
                           <a href="register4.html" class="active">Register</a>
                        </div>
                        {{{body}}}
                     
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>