<div class="page-links">
   <h5>Enter your Email to continue</h5>
</div>
<form action="login" method="POST" id="admin-login">
    <div class="form-group">
        <input type="text" name="email" id="email" placeholder="email">
    </div>

    <div class="form-group">
        <button id="reset-password" type="submit" class="btn btn-info">submit</button>
    </div>
</form>